.castList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
  }
  .castCard {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    align-items: center;
   
    background-color: #ffff;
    border-radius: 30px;
  }

  .photo {
    padding: 10px;
    border-radius: 30px;
    max-width: 150px;
    text-align: center;
  }
  .infoCasts {
    text-align: center;
  }